@import 'reset'


blue = rgb(5,140,200)
green = rgb(135,205,70)
gray = rgb(200,200,200)



// *
//   outline 1px solid rgba(red,.5)



html
  color black
  font 14px/25px 'Open Sans', Helvetica, Tahoma, Arial, sans-serif



body
  min-width 1100px
  margin 0 auto

  &.is-scrolling *
    pointer-events none !important



a
  &:hover
  &:active
    // color green
    color shade(blue,50%)



.h-ir // Image replacement
  border 0
  font 0/0 a
  text-shadow none
  color transparent



.h-wrapper // Global maximum width
  max-width 1160px
  margin 0 auto
  padding-left 30px
  padding-right 30px



.bay-wrapper
  background-image url('../i/bar.png')
  background-image uri('../i/bar.png')

  color white



.bay
  @extend .h-wrapper

  position relative // pos:abs inside

  padding-top 15px
  padding-bottom 15px



.breadcrumbs
  padding-bottom 20px

  font-size 0 // d:ib inside

  &__item
    display inline-block

    font-size 14px

    &:after
      content '\2794'

      display inline-block

      padding 0 .5em

      color tint(blue,50%)

    &:last-child
      font-weight bold

      &:after
        content none

  &__link
    color blue



.button
  padding 10px 7px

  background-color tint(blue,10%)
  background-image linear-gradient(to bottom, rgba(0,0,0,0), rgba(shade(blue,50%),.25) 50%, rgba(0,0,0,0))
  border-radius 10px
  box-shadow inset 0 -3px 5px rgba(255,255,255,.35), 0 2px 6px -2px rgba(0,0,0,.35), 0 1px 1px -1px rgba(0,0,0,.35)
  cursor pointer

  color white
  font-weight 700
  text-shadow 0 -1px 0 rgba(0,0,0,.2)

  transition background-color .25s .1s

  &:hover
    background-color tint(blue,35%)

    transition none

  &:active
    position relative
    top 1px

  &_size
    &_small
      padding 4px 10px

      border-radius 5px

      box-shadow inset 0 -1px 3px rgba(255,255,255,.35), 0 2px 6px -2px rgba(0,0,0,.35), 0 1px 1px 0 rgba(0,0,0,.15)

  &_type
    &_buy
    &_login
      background-color green
      background-image linear-gradient(to bottom, rgba(255,255,255,.25), rgba(shade(green,50%),.25) 50%, rgba(255,255,255,.25))

      &:hover
        background-color shade(green,10%)

    &_order
      background-color rgb(220,120,0)
      background-image linear-gradient(to bottom, rgba(255,255,255,.25), rgba(shade(rgb(220,120,0),50%),.25) 50%, rgba(255,255,255,.25))

      &:hover
        background-color shade(rgb(220,120,0),10%)

    &_request
    &_sec
      background-color tint(rgb(240,240,240),10%)
      background-image linear-gradient(to bottom, rgba(0,0,0,0), rgba(shade(rgb(240,240,240),50%),.25) 50%, rgba(0,0,0,0))

      color rgb(100,100,100)
      text-shadow 0 1px 0 rgba(255,255,255,.2)

      transition background-color .25s .1s, color .25s .1s

      &:hover
        background-color tint(blue,85%)

        color shade(blue,50%)

  &_width
    &_full
      width 100%

  &.is-active
    background-color tint(blue,10%)
    background-image linear-gradient(to bottom, rgba(255,255,255,.2), rgba(shade(blue,50%),.25) 50%, rgba(0,0,0,0))
    box-shadow inset 0 2px 6px rgba(0,0,0,.25)
    color white



.cart
  position relative

  padding-left 86px

  &__checkout
    color blue

  &__counter
    position absolute
    left 35px
    top 33px

    padding 4px 8px

    background-color blue
    border-radius 15px

    color white
    font-weight 700
    line-height 14px

  &__icon
    display block

    position absolute
    top 50%
    left 0

    width 56px
    height 44px
    margin-top -22px

    background-image url('../i/cart__icon.png')
    background-image uri('../i/cart__icon.png')
    background-position center center
    background-repeat no-repeat

  &__price
    font-size 20px
    font-weight 700



.catalogue
  &__group
    padding-bottom 20px

  &__group-items
    color blue

  &__group-link
    position relative

    text-decoration none

    transition .25s .1s

    &:before
      content ''

      display block

      position absolute
      top 50%
      left 0

      width 12px
      height 12px
      margin-top -6px

      background-image url('../i/catalogue__group-link.png')
      background-image uri('../i/catalogue__group-link.png')
      background-position left center
      background-repeat no-repeat
      opacity 0

      transform rotate(1080deg)

      transition opacity .25s .15s, transform .25s .1s

    &.is-dynamic
      margin-left -20px
      padding-left 20px

      background-image url('../i/catalogue__group-link_is_active.png')
      background-image uri('../i/catalogue__group-link_is_active.png')
      background-position left center
      background-repeat no-repeat

      &.is-active
        color rgb(196,196,196)

        &:before
          opacity 1

          transform rotate(0)

          transition opacity .25s, transform .25s .1s



.contact
  vertical-align top

  &__title
    font-size 20px
    font-weight 300
    letter-spacing .05em

  &__desc
    color tint(black,50%)
    font 13px/25px 'PT Serif', Georgia, Times, 'Times New Roman', serif
    font-style italic

  &__link
    display block

    color blue
    font-size 14px
    font-weight bold
    line-height 24px



.contact-info
  display inline-block

  color rgb(128,128,128)
  font-size 13px
  text-align right
  vertical-align top

  &__title
    display none

  &__link:hover
    color black



.content
  &__pagination
    padding 20px 0

  &__related
    padding 20px 0



.details
  display flex
  flex-wrap wrap

  border-bottom 1px solid gray

  font-size 0

  &__item
    display inline-block
    flex-grow 1

    min-width 14.285%
    padding 20px 0 10px

    border-top 1px solid gray

    color blue
    font-size 13px
    line-height 20px


.detail-type
  display block

  padding 15px 20px

  &__icon
    display block

    width 62px
    height 37px
    margin 0 auto

    background-position center center
    background-repeat no-repeat

    &_id
      &_body
        background-image url('../i/detail-type__icon_id_body.png')
        background-image uri('../i/detail-type__icon_id_body.png')

      &_chassis
        background-image url('../i/detail-type__icon_id_chassis.png')
        background-image uri('../i/detail-type__icon_id_chassis.png')

      &_climate
        background-image url('../i/detail-type__icon_id_climate.png')
        background-image uri('../i/detail-type__icon_id_climate.png')

      &_engine
        background-image url('../i/detail-type__icon_id_engine.png')
        background-image uri('../i/detail-type__icon_id_engine.png')

      &_gauges
        background-image url('../i/detail-type__icon_id_gauges.png')
        background-image uri('../i/detail-type__icon_id_gauges.png')

      &_lights
        background-image url('../i/detail-type__icon_id_lights.png')
        background-image uri('../i/detail-type__icon_id_lights.png')

      &_liquids
        background-image url('../i/detail-type__icon_id_liquids.png')
        background-image uri('../i/detail-type__icon_id_liquids.png')

      &_seats
        background-image url('../i/detail-type__icon_id_seats.png')
        background-image uri('../i/detail-type__icon_id_seats.png')

      &_transmission
        background-image url('../i/detail-type__icon_id_transmission.png')
        background-image uri('../i/detail-type__icon_id_transmission.png')

  &__title
    display block

    padding 5px 0

    text-align center



.fontless
  font sans-serif



.footer-wrapper
  background-color rgb(217,217,217)



.footer
  @extend .h-wrapper

  position relative

  padding-top 20px
  padding-bottom 20px

  text-align justify

  &:after
    content ''

    display inline-block

    width 100%



.header-wrapper
  padding 20px 0

  background-image url('../i/header.png')
  background-image uri('../i/header.png')
  background-position center top
  background-repeat repeat-x



.header
  @extend .h-wrapper

  display table

  width 100%

  &__logotype
  &__toolbox
    display table-cell

  &__logotype
    width 250px
    padding-right 20px



.heading
  display block

  padding 10px 0

  font 700 24px/25px 'PT Serif', Georgia, Times, 'Times New Roman', serif



.icon
  display inline-block

  margin-right .5em

  background-position center center
  background-repeat no-repeat

  vertical-align middle

  &__beeline
    width 13px
    height 13px
    margin-top -1px

    background-image url('../i/icon__beeline.png')
    background-image uri('../i/icon__beeline.png')

  &__buy
    width 20px
    height 16px
    margin-top -3px

    background-image url('../i/icon__buy.png')
    background-image uri('../i/icon__buy.png')

  &__geo
    width 12px
    height 12px

    background-image url('../i/icon__geo.png')
    background-image uri('../i/icon__geo.png')

  &__login
    width 20px
    height 10px

    background-image url('../i/icon__login.png')
    background-image uri('../i/icon__login.png')

  &__mts
    width 13px
    height 13px
    margin-top -1px

    background-image url('../i/icon__mts.png')
    background-image uri('../i/icon__mts.png')

  &__order
    width 15px
    height 16px
    margin-top -3px

    background-image url('../i/icon__order.png')
    background-image uri('../i/icon__order.png')

  &__request
    width 22px
    height 11px
    margin-top -1px

    background-image url('../i/icon__request.png')
    background-image uri('../i/icon__request.png')

  &__skype
    width 12px
    height 12px

    background-image url('../i/icon__skype.png')
    background-image uri('../i/icon__skype.png')



.input
  background-color white
  border-radius 5px



.linkdump
  display inline-block

  padding-right 40px

  vertical-align top

  &__title
    font-weight 700
    letter-spacing .05em
    text-transform uppercase

  &__link
    color blue
    font-size 13px



.logotype
  @extend .h-ir

  display block

  width 140px
  height 115px

  background-image url('../i/logotype.png')
  background-image uri('../i/logotype.png')
  background-position center center
  background-repeat no-repeat



.main
  @extend .h-wrapper

  display table

  width 100%
  padding-bottom 150px

  background-image url('../i/main.png')
  background-image uri('../i/main.png')
  background-position right bottom
  background-repeat no-repeat

  &__sidebar
  &__content
    display table-cell

    vertical-align top

  &__sidebar
    width 250px



.mark
  position absolute
  bottom 20px
  right 30px

  color blue

  vertical-align middle

  &__icon
  &__link
    display inline-block

    vertical-align middle

  &__icon
    @extend .h-ir

    width 21px
    height 28px
    margin-left 10px

    background-image url('../i/mark__icon.png')
    background-image uri('../i/mark__icon.png')
    background-position center center
    background-repeat no-repeat



.menu
  font-size 0 // d:ib inside
  line-height 0 // d:ib inside

  &__item
    display inline-block

    font-size 16px
    font-weight 700
    line-height 16px

    &:not(:first-child)
      margin-left .75em

      &:before
        content '•'

        display inline-block

        margin-right @margin-left

  &__link
    &:hover
      color green



.news
  &__teaser
    padding 20px 0



.pagination
  &__item
    display inline-block



.payment-icon
  @extend .h-ir

  display block

  height 21px

  background-position center center
  background-repeat no-repeat

  &_system
    &_mc
      width 32px

      background-image url('../i/payment-icon_system_mc.png')
      background-image uri('../i/payment-icon_system_mc.png')

    &_paypal
      width 61px

      background-image url('../i/payment-icon_system_paypal.png')
      background-image uri('../i/payment-icon_system_paypal.png')

    &_visa
      width 33px

      background-image url('../i/payment-icon_system_visa.png')
      background-image uri('../i/payment-icon_system_visa.png')


.payments-info
  padding-bottom 20px

  &__title
    display none

  &__item
    display inline-block



.post-teaser
  position relative

  padding-left 100px

  &__date
    position absolute
    top 0
    left 0

    width 80px

    color gray
    font-weight 700
    text-align center

  &__day
    font-size 52px
    line-height 50px

  &__day
  &__month
    display block


  &__title
    font-size 18px
    font-weight 700



.price
  margin-left -.05em
  padding-bottom .5em

  font-size 35px
  font-weight 900
  line-height 50px



.product
  display table

  width 100%

  border-bottom 1px solid gray

  &__description
  &__photo
    display table-cell
    padding-bottom 40px

  &__description
    padding-left 20px

  &__photo
    width 35%

  &__specs
    margin-bottom 20px


.product-status
  padding-bottom 5px

  font-size 13px
  white-space nowrap

  &_is
    &_available
      color shade(green,10%)

    &_warehouse
      color shade(rgb(220,120,0),10%)

    &_unavailable
      color shade(gray,10%)



.products
  width 100%

  color rgb(100,100,100)
  line-height 20px
  text-align center

  vertical-align middle

  th
  td
    padding 10px

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

  &__header
    border-bottom 1px solid gray

    color gray
    font-size 13px

  &__price
    white-space nowrap

  &__row
    border-bottom 1px solid gray

    &:hover
      color blue

  &__title
    max-width 240px

  &__titles
    text-align left
    text-transform uppercase



.r
  display inline-block

  vertical-align baseline



.related
  font-size 0

  &__item
    display inline-block

    max-width 14.285%

    color blue
    font-size 13px
    line-height 20px
    text-align center

    p
      margin-bottom 5px

  &__price
    color black
    font-weight 700


.search
  width 100%
  min-width 450px
  padding 7px

  background-color tint(blue,10%)
  background-image linear-gradient(to bottom, rgba(tint(blue,50%),.25), rgba(shade(blue,50%),.25) 50%, rgba(tint(blue,50%),.25))
  border-radius 10px

  white-space nowrap

  &__input
    width 85%
    padding 8px 10px 5px

    background-color white
    border-radius 4px

    font-style italic
    line-height 16px

  &__submit
    width 15%
    padding 7px 0 4px

    cursor pointer

    color white
    font-weight 700
    line-height 16px

    vertical-align middle

    transition text-shadow .25s .1s

    &:hover
      text-shadow 0 0 5px rgba(shade(blue,50%),.75)

      transition none

    &:active
      position relative
      top 1px



.shelf-wrapper
  padding 10px 0 60px

  text-align center



.shelf
  display inline-block

  position relative

  min-height 96px
  margin 0 21px
  padding-bottom 47px

  background-image url('../i/shelf.png')
  background-image uri('../i/shelf.png')
  background-position center bottom
  background-repeat repeat-x

  font-size 0
  white-space nowrap

  vertical-align bottom

  &:before
  &:after
    content ''

    display block

    position absolute
    bottom 0

    width 27px
    height 96px

    background-position center center
    background-repeat no-repeat

  &:before
    right 100%

    background-image url('../i/shelf-before.png')
    background-image uri('../i/shelf-before.png')

  &:after
    left 100%

    background-image url('../i/shelf-after.png')
    background-image uri('../i/shelf-after.png')

  &__item
    display inline-block

    padding 0 9px

    font-size 14px



.social
  position absolute
  top 50%
  right 20px

  margin-top -20px

  font-size 0 // d:ib inside
  line-height 0 // d:ib inside

  &__item
    display inline-block

  &__link
    @extend .h-ir

    display block

    width 40px
    height 40px

    background-position center center
    background-repeat no-repeat
    opacity .8

    transition opacity .25s .1s

    &:hover
      opacity 1

      transition none

    &_icon
      &_fb
        background-image url('../i/social__link_icon_fb.png')
        background-image uri('../i/social__link_icon_fb.png')

      &_tw
        background-image url('../i/social__link_icon_tw.png')
        background-image uri('../i/social__link_icon_tw.png')

      &_vk
        background-image url('../i/social__link_icon_vk.png')
        background-image uri('../i/social__link_icon_vk.png')



.spec
  &__title
    padding-right 20px

    background-image url('../i/spec__title.png')
    background-image uri('../i/spec__title.png')
    background-position left 17px
    background-repeat repeat-x

    span
      background-color white



.title
  margin-left -.1em
  padding-bottom 1em

  font-size 24px
  font-weight 700
  line-height 30px



.toolbox-row
  display table

  width 100%
  margin-bottom 20px

  &__cell
    display table-cell

    vertical-align top

    &:not(:last-child)
      padding-right 10px




.wave
  height 7px

  background-image url('../i/wave.png')
  background-image uri('../i/wave.png')
  background-position center center
  background-repeat repeat-x
  border 0