extends default.layout

block content
  nav(block = 'breadcrumbs-wrapper')
    ul(block = 'breadcrumbs')
      li(elem = 'item'): a(elem = 'link', href = '/') Главная
      li(elem = 'item') Форд

  div(block = 'shelf-wrapper')
    ul(block = 'shelf')
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05

  div(block = 'shelf-wrapper')
    ul(block = 'shelf')
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05

  div(block = 'shelf-wrapper')
    ul(block = 'shelf')
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
      li(elem = 'item')
        a(block = 'car-model', href = '#')
          i(elem = 'icon', mod = 'id:focus-1')
          span(elem = 'title') Фокус-1 98—05
