doctype html

html
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'content-type', content = 'text/html; charset=utf-8')

    meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')

    if document.title
      title #{document.title}

    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')

    meta(name = 'keywords', lang = 'ru', content != document.keywords)
    meta(name = 'description', content != document.description)

    link(rel = 'stylesheet', href = '/s/screen.css')

  body
    block content