doctype html

html
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'content-type', content = 'text/html; charset=utf-8')

    meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')

    title Автозапчасти «Суперфорд»

    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')

    meta(name = 'keywords', lang = 'ru', content = '')
    meta(name = 'description', content = '')

    link(rel = 'stylesheet', href = '/s/screen.css')
    link(rel = 'stylesheet', href = '/s/cars.css')
    link(rel = 'stylesheet', href = 'http://fonts.googleapis.com/css?family=PT+Serif:700,400italic|Open+Sans:300italic,400italic,700italic,400,700,300&subset=latin,cyrillic')


  body
    div(block = 'bay-wrapper')
      nav(block = 'bay')
        div(elem = 'menu')
          ul(block = 'menu')
            - each item in ['Доставка', 'Оплата', 'Работа с регионами', 'Контакты']
              li(elem = 'item'): a(elem = 'link', href = '#')= item
        div(elem = 'social')
          ul(block = 'social')
            li(elem = 'item'): a(elem = 'link', mod != 'icon:fb', href = '#', title = 'Фейсбук') Фейсбук
            li(elem = 'item'): a(elem = 'link', mod != 'icon:tw', href = '#', title = 'Твиттер') Твиттер
            li(elem = 'item'): a(elem = 'link', mod != 'icon:vk', href = '#', title = 'Вконтакте') Вконтакте

    div(block = 'header-wrapper')
      header(block = 'header')
        div(elem = 'logotype')
          a(block = 'logotype', href = '/') Автозапчасти «Суперфорд»
        div(elem = 'toolbox')
          div(block = 'toolbox-row')
            div(elem = 'cell')
              dl(block = 'contact')
                dt(elem = 'title') +7 (495) <b>988 4830</b>
                dd(elem = 'desc') г. Москва
            div(elem = 'cell')
              dl(block = 'contact')
                dt(elem = 'title') <b>8 800 988 4830</b>
                dd(elem = 'desc') бесплатный по России
            div(elem = 'cell')
              div(block = 'contact')
                a(elem = 'link', href = 'skype:superford.ru?chat')
                  i.icon(mix = 'block:icon,elem:skype')
                  | superford.ru
                a(elem = 'link', href = '#')
                  i.icon(mix = 'block:icon,elem:geo')
                  | Лианозовский пр. 8
            div(elem = 'cell')
              div(block = 'cart')
                i(elem = 'icon'): span(elem = 'counter') 25
                p(elem = 'price') 25 390 <span class="r">руб.</span>
                a(elem = 'checkout', href = '#') Оформить
          div(block = 'toolbox-row')
            div(elem = 'cell')
              div(block = 'search')
                input(elem = 'input', type = 'text', placeholder = 'Номер или название детали')
                input(elem = 'submit', type = 'submit', value = 'Найти')
            div(elem = 'cell')
              button(block = 'button', mod = 'type:login,width:full')
                i.icon(mix = 'block:icon,elem:login')
                | Войти
            div(elem = 'cell')
              button(block = 'button', mod = 'type:sec,width:full') Зарегистрироваться

    div(block = 'main')
      aside(elem = 'sidebar')
        nav(elem = 'catalogue')
          ul(block = 'catalogue')
            li(elem = 'group')
              a(elem = 'group-link', mix = 'block:heading', href = '#') Форд
              ul(elem = 'group-items')
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 1 | Focus 1 (98-05)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 2 | Focus 2 (05-11)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 3 | Ford Focus 3 (11-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 3 | Mondeo 3 (01-07)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 4 | Mondeo 4 (07-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (02-08)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (08-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фьюжен | Fusion (02-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Си-МАКС | C-MAX (03-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') S-MAX & GALAXY (06-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Куга | KUGA (08-)
            li(elem = 'group')
              a(elem = 'group-link', mix = 'block:heading', href = '#') Пежо
              ul(elem = 'group-items')
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 1 | Focus 1 (98-05)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 2 | Focus 2 (05-11)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 3 | Ford Focus 3 (11-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 3 | Mondeo 3 (01-07)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 4 | Mondeo 4 (07-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (02-08)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (08-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фьюжен | Fusion (02-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Си-МАКС | C-MAX (03-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') S-MAX & GALAXY (06-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Куга | KUGA (08-)
            li(elem = 'group')
              a(elem = 'group-link', mix = 'block:heading', href = '#') Ситроен
              ul(elem = 'group-items')
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 1 | Focus 1 (98-05)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 2 | Focus 2 (05-11)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фокус 3 | Ford Focus 3 (11-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 3 | Mondeo 3 (01-07)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Мондео 4 | Mondeo 4 (07-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (02-08)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фиеста | Fiesta (08-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Фьюжен | Fusion (02-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Си-МАКС | C-MAX (03-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') S-MAX & GALAXY (06-)
                li(elem = 'item')
                  a(elem = 'link', href = '#') Куга | KUGA (08-)
        dl(block = 'payments-info')
          dt(elem = 'title') Мы принимаем оплату через платёжные системы:
          dd(elem = 'item'): a(block = 'payment-icon', mod = 'system:visa', href = '#') Виза
          dd(elem = 'item'): a(block = 'payment-icon', mod = 'system:mc', href = '#') Мастер-Кард
          dd(elem = 'item'): a(block = 'payment-icon', mod = 'system:paypal', href = '#') Пэйпал
        ul(block = 'phones')
          li(elem = 'item')
            i.icon(mix = 'block:icon,elem:beeline')
            | +7 (985) <b>876 2192</b> — Максим
          li(elem = 'item')
            i.icon(mix = 'block:icon,elem:beeline')
            | +7 (985) <b>876 2192</b> — Дмитрий
          li(elem = 'item')
            i.icon(mix = 'block:icon,elem:mts')
            | +7 (985) <b>876 2192</b> — Роман
          li(elem = 'item')
            i.icon(mix = 'block:icon,elem:mts')
            | +7 (985) <b>876 2192</b> — Александр
          li(elem = 'item')
            i.icon(mix = 'block:icon,elem:mts')
            | +7 (985) <b>876 2192</b> — Денис

      main(elem = 'content')
        block content

    div(block = 'footer-wrapper')
      footer(block = 'footer')
        dl(block = 'linkdump')
          dt(elem = 'title') Категории
          dd(elem = 'item'): a(elem = 'link', href = '#') Ситроен
          dd(elem = 'item'): a(elem = 'link', href = '#') Пежо
          dd(elem = 'item'): a(elem = 'link', href = '#') Форд

        dl(block = 'linkdump')
          dt(elem = 'title') Информация
          dd(elem = 'item'): a(elem = 'link', href = '#') Скидки
          dd(elem = 'item'): a(elem = 'link', href = '#') Новые товары
          dd(elem = 'item'): a(elem = 'link', href = '#') Популярные товары
          dd(elem = 'item'): a(elem = 'link', href = '#') Свяжитесь с нами
          dd(elem = 'item'): a(elem = 'link', href = '#') Карта сайта

        dl(block = 'linkdump')
          dt(elem = 'title') Клиентам
          dd(elem = 'item'): a(elem = 'link', href = '#') Доставка
          dd(elem = 'item'): a(elem = 'link', href = '#') Оплата
          dd(elem = 'item'): a(elem = 'link', href = '#') Работа с регионами
          dd(elem = 'item'): a(elem = 'link', href = '#') Контакты

        dl(block = 'linkdump')
          dt(elem = 'title') Моя учётная запись
          dd(elem = 'item'): a(elem = 'link', href = '#') Мои заказы
          dd(elem = 'item'): a(elem = 'link', href = '#') Мои кредитные квитанции
          dd(elem = 'item'): a(elem = 'link', href = '#') Мои адреса
          dd(elem = 'item'): a(elem = 'link', href = '#') Моя личная информация

        dl(block = 'contact-info')
          dt(elem = 'title') Контактная информация
          dd(elem = 'item'): a(elem = 'link', href = '#')
            i.icon(mix = 'block:icon,elem:geo')
            | Лианозовский пр. 8, Москва
          dd(elem = 'item') Тел.: +7 (495) 961 5113
          dd(elem = 'item') Эл. почта: <a class="contact-info__link" href="mailto:zap@superford.ru">zap@superford.ru</a>
          dd(elem = 'item') © СуперФорд 1999...2014

        div(block = 'mark')
          a(elem = 'link', href = '#') Дизайн
          a(elem = 'icon', href = '#') Harley Quinn

  script(src = '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')